@use 'pre';

::-webkit-scrollbar {
  width: pre.rem(16);
  height: pre.rem(16);
}

::-webkit-scrollbar-thumb {
  border-radius: pre.rem(6);
  background-clip: content-box;
  background-color: pre.con(base-16);
  border: pre.rem(4) solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: pre.con(base-24);
}

::selection {
  background-color: pre.con(base-24);
}

html {
  cursor: none;
  height: 100%;
  user-select: none;
  overflow-x: hidden;
  overflow-y: overlay;
}

body {
  font-size: pre.con(sm);
  font-family: pre.con(sans);
  font-weight: pre.con(semi);

  color: pre.con(base-96);
  background-color: pre.con(base-08);

  line-height: 1.6;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  margin: auto;
  gap: pre.rem(48);
  max-width: pre.rem(384);
  padding: pre.rem(64) pre.rem(16);
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: pre.con(base-24) transparent;
  }
}
