* {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  appearance: none;

  font: inherit;
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;

  box-sizing: border-box;
  background-color: transparent;
}
