::-webkit-scrollbar {
  @apply h-4 w-4;
}

::-webkit-scrollbar-thumb {
  @apply bg-clip-content border-solid border-transparent rounded-lg bg-base-16 border-4;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-base-24;
}

::selection {
  @apply bg-base-24;
}

* {
  cursor: none !important;

  scrollbar-width: thin;
  scrollbar-color: #26282c transparent;
}

body {
  @apply font-semi bg-base-08 text-sm leading-md text-base-96 select-none;
}

.page-enter-active,
.page-leave-active {
  @apply transition-opacity duration-200;
}
.page-enter,
.page-leave-active {
  @apply opacity-0;
}
